<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sthanshodhani.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sthanshodhani</name>
    <description>User Tracking and Content Delivery App</description>
    <author email="admin@sthanshodhani.com" href="https://sthanshodhani.com">Sthanshodhani Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
