name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Cordova
      run: npm install -g cordova

    - name: Install Dependencies
      run: npm install

    - name: Add Android Platform
      run: cordova platform add android@12.0.0

    - name: Build Android APK
      run: cordova build android --debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Sthanshodhani-APK
        path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
