name: Build Sthanshodhani Final APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. рдХреЛрдб рдШреЗрдгреЗ
      - uses: actions/checkout@v3

      # 2. Node.js рд╕реЗрдЯ рдХрд░рдгреЗ
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install -g cordova

      # 3. Java 17 рдЗрдВрд╕реНрдЯреЙрд▓ рдХрд░рдгреЗ
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # 4. рдирд╡реАрди рдлреНрд░реЗрд╢ рдкреНрд░реЛрдЬреЗрдХреНрдЯ рдмрдирд╡рдгреЗ
      - name: Create Fresh Cordova Project
        run: |
          # рдкреНрд░реЛрдЬреЗрдХреНрдЯ рддрдпрд╛рд░ рдХрд░рд╛
          cordova create SthanshodhaniApp com.sthanshodhani.app "Sthanshodhani"
          cd SthanshodhaniApp
          
          # рдкреНрд▓рдЧрдЗрдиреНрд╕ ре▓рдб рдХрд░рд╛ (Device Plugin рд╡рд┐рд╕рд░реВ рдирдХрд╛)
          cordova plugin add cordova-plugin-device
          
          # ЁЯФе рд╕рд░реНрд╡рд╛рдд рдорд╣рддреНрддреНрд╡рд╛рдЪрд╛ рдмрджрд▓: рдЗрдереЗ @12.0.0 рд▓рд╛рд╡рдгреЗ рдЧрд░рдЬреЗрдЪреЗ рдЖрд╣реЗ!
          # рд╣реЗ рд▓рд╛рд╡рд▓реЗ рдирд╛рд╣реА рддрд░ рдкреБрдиреНрд╣рд╛ XmlParser рдПрд░рд░ рдпреЗрдИрд▓.
          cordova platform add android@12.0.0
          
          cd ..

      # 5. рд╕реЗрдЯрд┐рдВрдЧреНрдЬ рдЖрдгрд┐ рд▓реЛрдЧреЛ рд▓рд╛рд╡рдгреЗ
      - name: Configure App Settings & Logo
        run: |
          cd SthanshodhaniApp
          
          # ЁЯФе LOGO SETTING
          # 1. рдЖрдпрдХреЙрди рд╕реЗрдЯ рдХрд░рд╛
          sed -i '/<widget/a <icon src="www/logo.png" />' config.xml
          
          # 2. рд╕реНрдкреНрд▓реЕрд╢ рд╕реНрдХреНрд░реАрди (ре▓рдк рдЙрдШрдбрддрд╛рдирд╛ рд▓реЛрдЧреЛ рджрд┐рд╕реЗрд▓)
          sed -i '/<widget/a <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/logo.png" />' config.xml
          sed -i '/<widget/a <preference name="AndroidWindowSplashScreenBackground" value="#000000" />' config.xml
          
          # рдлреБрд▓ рд╕реНрдХреНрд░реАрди рдореЛрдб
          sed -i '/<widget/a <preference name="Fullscreen" value="true" />' config.xml
          # рдУрд╡реНрд╣рд░рд╕реНрдХреНрд░реЛрд▓ рдмрдВрдж
          sed -i '/<widget/a <preference name="DisallowOverscroll" value="true" />' config.xml
          cd ..

      # 6. рддреБрдордЪреНрдпрд╛ рдлрд╛рдИрд▓реНрд╕ рдХреЙрдкреА рдХрд░рдгреЗ
      - name: Copy Files to WWW
        run: |
          # рдбрд┐рдлреЙрд▓реНрдЯ рдлрд╛рдИрд▓реНрд╕ рд╣рдЯрд╡рдгреЗ
          rm SthanshodhaniApp/www/index.html
          rm -rf SthanshodhaniApp/www/js
          rm -rf SthanshodhaniApp/www/css
          rm -rf SthanshodhaniApp/www/img

          # рддреБрдордЪреА www рдлреЛрд▓реНрдбрд░ рдХреЙрдкреА рдХрд░рдгреЗ (рдпрд╛рдд logo.png рдЖрд╣реЗ рдирд╛ рд╣реЗ рдмрдШрд╛)
          cp -r www/* SthanshodhaniApp/www/

      # 7. APK рдмрд┐рд▓реНрдб рдХрд░рдгреЗ
      - name: Build APK
        run: |
          cd SthanshodhaniApp
          cordova build android --debug

      # 8. APK рдЕрдкрд▓реЛрдб рдХрд░рдгреЗ
      - uses: actions/upload-artifact@v4
        with:
          name: Sthanshodhani-APK
          path: SthanshodhaniApp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
