name: Build Sthanshodhani Final APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. рдХреЛрдб рдЪреЗрдХрдЖрдЙрдЯ рдХрд░рдгреЗ
      - uses: actions/checkout@v3

      # 2. Node.js рдЗрдВрд╕реНрдЯреЙрд▓ рдХрд░рдгреЗ
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install -g cordova

      # 3. Java 17 рдЗрдВрд╕реНрдЯреЙрд▓ рдХрд░рдгреЗ (Android 12+ рд╕рд╛рдареА рд╣реЗрдЪ рд▓рд╛рдЧрддреЗ)
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # 4. рдирд╡реАрди рдлреНрд░реЗрд╢ рдкреНрд░реЛрдЬреЗрдХреНрдЯ рдмрдирд╡рдгреЗ
      - name: Create Fresh Cordova Project
        run: |
          # 1. рдкреНрд░реЛрдЬреЗрдХреНрдЯ рддрдпрд╛рд░ рдХрд░рд╛
          cordova create SthanshodhaniApp com.sthanshodhani.app "Sthanshodhani"
          cd SthanshodhaniApp
          
          # 2. рдкреНрд▓рдЧрдЗрдиреНрд╕ рдЯрд╛рдХрд╛ (Device рдкреНрд▓рдЧрдЗрди рдорд╣рддреНрддреНрд╡рд╛рдЪреЗ рдЖрд╣реЗ рдЯреНрд░реЕрдХрд┐рдВрдЧрд╕рд╛рдареА)
          cordova plugin add cordova-plugin-device
          cordova plugin add cordova-plugin-statusbar
          cordova plugin add cordova-plugin-whitelist
          
          # 3. Android рдкреНрд▓реЕрдЯрдлреЙрд░реНрдо ре▓рдб рдХрд░рд╛ (рдпреЗрдереЗ @12.0.0 рд╡рд╛рдкрд░рд▓реЗ рдЖрд╣реЗ рдореНрд╣рдгрдЬреЗ рдПрд░рд░ рдпреЗрдгрд╛рд░ рдирд╛рд╣реА)
          # рд╣рд╛рдЪ рддреЛ рдореБрдЦреНрдп рдлрд┐рдХреНрд╕ рдЖрд╣реЗ рдЬреНрдпрд╛рдиреЗ XmlParser рдПрд░рд░ рдЬрд╛рдИрд▓
          cordova platform add android@12.0.0
          
          cd ..

      # 5. Config.xml рдордзреНрдпреЗ рд▓реЛрдЧреЛ рдЖрдгрд┐ рд╕реЗрдЯрд┐рдВрдЧреНрдЬ рд▓рд╛рд╡рдгреЗ (рддреБрдордЪреНрдпрд╛ рд╕реЕрдореНрдкрд▓ рдХреЛрдбрдиреБрд╕рд╛рд░)
      - name: Configure App Settings & Logo
        run: |
          cd SthanshodhaniApp
          
          # ЁЯФе LOGO SETTING (рддреБрдордЪреНрдпрд╛ рд╕реЕрдореНрдкрд▓ рдХреЛрдбрдордзреАрд▓ рдЬрд╛рджреВ)
          # рд╣реЗ рд▓рд╛рдИрди config.xml рдордзреНрдпреЗ <icon ... /> ре▓рдб рдХрд░рддреЗ
          sed -i '/<widget/a <icon src="www/logo.png" />' config.xml
          
          # Fullscreen рдореЛрдб
          sed -i '/<widget/a <preference name="Fullscreen" value="true" />' config.xml
          
          # Android 12 Splash Screen рд╕рд╛рдареА рд▓реЛрдЧреЛ рд╡рд╛рдкрд░рдгреЗ
          sed -i '/<widget/a <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/logo.png" />' config.xml
          sed -i '/<widget/a <preference name="AndroidWindowSplashScreenBackground" value="#000000" />' config.xml
          
          cd ..

      # 6. рдлрд╛рдИрд▓реНрд╕ рдХреЙрдкреА рдХрд░рдгреЗ (рддреБрдордЪреНрдпрд╛ GitHub рд╡рд░реВрди рдирд╡реАрди ре▓рдкрдордзреНрдпреЗ)
      - name: Copy Files to WWW
        run: |
          # 1. рдирд╡реАрди рдкреНрд░реЛрдЬреЗрдХреНрдЯрдордзреАрд▓ рдбреАрдлреЙрд▓реНрдЯ рдлрд╛рдИрд▓реНрд╕ рдЙрдбрд╡рдгреЗ
          rm SthanshodhaniApp/www/index.html
          rm -rf SthanshodhaniApp/www/js
          rm -rf SthanshodhaniApp/www/css
          rm -rf SthanshodhaniApp/www/img

          # 2. рддреБрдордЪреА www рдлреЛрд▓реНрдбрд░ (рдЬреНрдпрд╛рдд logo.png рдЖрдгрд┐ index.html рдЖрд╣реЗ) рдХреЙрдкреА рдХрд░рдгреЗ
          cp -r www/* SthanshodhaniApp/www/

      # 7. APK рдмрд┐рд▓реНрдб рдХрд░рдгреЗ
      - name: Build APK
        run: |
          cd SthanshodhaniApp
          cordova build android --debug

      # 8. APK рдЕрдкрд▓реЛрдб рдХрд░рдгреЗ
      - uses: actions/upload-artifact@v4
        with:
          name: Sthanshodhani-Final-APK
          path: SthanshodhaniApp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
